node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/favicon.ico/route.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/next.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/_not-found/page.js
.next/static/css/app/layout.css
.next/static/css/app/page.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/05a31a2ca4975f99-s.woff2
.next/static/media/51ed15f9841b9f9d-s.woff2
.next/static/media/513657b02c5c193f-s.woff2
.next/static/media/c9a5bc6a7c948fb0-s.p.woff2
.next/static/media/d6b16ce4a6175f26-s.woff2
.next/static/media/ec159349637c90ad-s.woff2
.next/static/media/fd4db3eb5472fc27-s.woff2
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a1ca8ac7c2de5ae9.webpack.hot-update.json
.next/static/webpack/webpack.a1ca8ac7c2de5ae9.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
